{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Rooms</title>
    <style>
        table {
            border-collapse: collapse;
            border: 2px solid;
            width: 70%;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }

        input {
            margin: 0 auto; 
            display: block; 
            margin-bottom: 10px;
        }
        
        .sortable:hover {
            cursor: pointer;
        }

        canvas {
            border: 1px;
        }

        .chart-container {
            position: relative;
            margin: auto;
            height: 60vh;
            width: 70vw;
        }

        span {
            color: red;
            display: none;
        }

        body
        {
            font-family: 'Helvetica', 'Arial', sans-serif;
            color: #444444;
            font-size: 9pt;
            background-color: #FAFAFA;
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css">
</head>
<body>
    <span id='status-block'>Connection unstable. Table may contain outdated data</span>
    <div>
        <input type="text" id="dateFilter" onkeyup="filterByDate()" placeholder="Filter by date">
    </div>
    
    <table id='records_table'>
        <tr>
            <th>ID</th>
            <th>Data</th>
            <th onclick="sortTable(2)" class="sortable">Created at</th>
        </tr>
        {% for record in records %}
            <tr id="{{ record.id }}">
                <td>{{ record.id }}</td>
                <td>{{ record.data }}</td>
                <td>{{ record.created_at }}</td>
            </tr>
        {% endfor %}
    </table>

    <div class="chart-container">
        <canvas id="chart"></canvas>
    </div>
    <script src="{% static 'js/graph_helper.js' %}"></script>
    <script src="{% static 'js/table_helper.js' %}"></script>
</body>
</html>